name: CI

on: [push, pull_request]

jobs:
  formatting-check:
    runs-on: ubuntu-latest
    name: Check formatting
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1
      - run: zig fmt --check .

  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1
      - run: zig build -Doptimize=ReleaseSmall
